doctype html
html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.4/leaflet.css')
        link(href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css', rel='stylesheet')
        //- link(rel='stylesheet', href='styles/index.css')
        title Technolojesus
    body
        div(id='map', style='width: 70vw; height: 70vh; margin: 0 auto;')

    script(src='/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.4/leaflet.js')
    script(src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js')
    script(type='text/javascript').
        var steinman = [40.821704, -73.947875];
        var map = L.map('map').setView(steinman, 10);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 20,
            id: 'felixtan.91e4625b',
            accessToken: 'pk.eyJ1IjoiZmVsaXh0YW4iLCJhIjoiNWM1ZWUxYjc1MGE1OTMwYzY2N2VlNGQwN2Q5ODViMGYifQ.lLhUVm-1B-GgeqL8qSN24A',
        }).addTo(map);

        //- var socket = io.connect('http://localhost:3000');
        var socket = io.connect('https://solar-trackr.herokuapp.com/');
        socket.on('reading', function(coord) {
            if(typeof coord.lat !== 'float') coord.lat = parseFloat(coord.lat);
            if(typeof coord.long !== 'float') coord.long = parseFloat(coord.long);
            var marker = L.marker([coord.lat, coord.long]).addTo(map);
        });



        